<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test-class Suite">
    <test name="Test-class test 1">
        <classes>
            <class name="com.iaditya.testng.ParentTest" />
            <class name="com.iaditya.testng.DependentWithoutInheritingTest" />
        </classes>
    </test>
</suite>